<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>My Story .:  Home :.</title>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
<!--/fonts-->
<!--Css-->
<link href="style/my-story.css" rel="stylesheet" type="text/css">
<!--/Css-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!--header search-->
<script src="js/modernizr.custom.js"></script>
<link rel="stylesheet" type="text/css" href="style/default.css" />
<link rel="stylesheet" type="text/css" href="style/component.css" />
<!--/header search-->

<!--parellax-->
<link href="style/fixed-positioning.css" rel="stylesheet" type="text/css" />
<link href="style/main.css" rel="stylesheet" type="text/css" />
<!--/parellax-->

</head>

<body>

<!--Video banner-->
<div class="banner_video_holder"></div>
<!--/Video banner-->

<!--Nav header holder-->
<div class="header_holder">
	<div class="nav_holder">
    	<ul>
        	<div class="logo"><a href="#"><img src="img/logo.png"></a></div>
            <!--search-->
            <li style="width:60px; z-index:1;">
            <div id="sb-search" class="sb-search" style="position:absolute; margin-top:-20px;">
                <form>
                    <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
                    <input class="sb-search-submit" type="submit" value="">
                    <span class="sb-icon-search"></span>
                </form>
            </div>
            </li>
            <!--/search-->
        	<a href="#"><li>Contact</li></a>
            <a href="#"><li>About</li></a>
            <a href="#"><li>Videos</li></a>
            <a href="#"><li>App</li></a>
            <a href="#"><li>Home</li></a>
            
            <div class="clear"></div>
        </ul>
    </div>
</div>
<!--/Nav header holder-->

<!--App share holder-->
<div class="app_holder">
	
    <div class="app_content_holder">
    
        <div class="app_title_holder">
        	<div class="app_title">Share your Story</div>
        </div>
		
        <div class="app_details_holder">
        	<div class="app_img"><img src="img/hand_app.png"></div>
            <div class="app_text">
            	<h3>Title for the Mobile Application</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <div class="app_store_holder">
                	<ul>
						<li><img src="img/app_store.png"></li>
                        <li><img src="img/play_store.png"></li>                    
                    </ul>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>
            
        <div id="bg1" data-0="background-position:50% 0px;" data-end="background-position:50% -500px;"></div>
        <div id="bg2" data-0="background-position:50% 0px;" data-end="background-position:50% -250px;"></div>
        <div id="bg3" data-0="background-position:50% 0px;" data-end="background-position:50% -200px;"></div>
    </div>
    
    
</div>
<!--/App share holder-->

<!--video Listing HOlder-->
<div class="video_listing_holder">

    <!--title-->
    <div class="video_listing_title_holder">
        <div class="video_listing_title">Watch</div>
        
        <div class="clear"></div>
    </div>
    <!--/title-->
	
    <!--filter holder-->
    <div class="video_listing_filter_holder">
    	<ul>
        	<li>
            	<select class="drplist">
                	<option>All Country</option>
                </select>
            </li>
            <li>
            	<select class="drplist">
                	<option>All Country</option>
                </select>
            </li>
            <li>
            	<select class="drplist">
                	<option>All Country</option>
                </select>
            </li>
            <li style="margin-right:0px;">
            	<select class="drplist">
                	<option>All Country</option>
                </select>
            </li>

            <div class="clear"></div>
        </ul>
    </div>
    <!--/filter holder-->
    
    <!--Video grid list-->
    <div class="video_wrapper">
    <!--first row-->
    <div class="large_video"><img src="sddefault.jpg"></div>
    
    <div class="large_video">
        <ul>
            <li><img src="sddefault.jpg"></li>
            <li><img src="sddefault.jpg"></li>
            <li><img src="sddefault.jpg"></li>
            <li><img src="sddefault.jpg"></li>
            
            <div class="clear"></div>
        </ul>
    </div>
    <!--/first row-->
    <!--second row-->
    <div class="large_video">
        <ul>
            <li><img src="sddefault.jpg"></li>
            <li><img src="sddefault.jpg"></li>
            <li><img src="sddefault.jpg"></li>
            <li><img src="sddefault.jpg"></li>
            
            <div class="clear"></div>
        </ul>
    </div>
    
    <div class="large_video"><img src="sddefault.jpg"></div>
    <!--/second row-->
    <!--thrid row-->
    <div class="large_video"><img src="sddefault.jpg"></div>
    
    <div class="large_video"><img src="sddefault.jpg"></div>
    <!--/third row-->
    <!--forth row-->
    <div class="smallgrid_holder">
    <ul>
        <li><img src="sddefault.jpg"></li>
        <li><img src="sddefault.jpg"></li>
    </ul>
    
    <ul>
        <li><img src="sddefault.jpg"></li>
        <li><img src="sddefault.jpg"></li>
    </ul>
    
    <div class="clear"></div>
    </div>
    <!--/forth row-->
    
    </div>
    <!--/Video grid list-->
    
    </div>
    <!--/video Listing HOlder-->

<!--coypright holder-->
<div class="copyright_holder">© All Right Reserved</div>
<!--/coypright holder-->

<!--VIDEO POPUPs-->
<script src="js/jquery.simplePopup.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){

    $('.search_video_list').click(function(){
	$('#pop1').simplePopup();
    });
    
  
});

</script>

 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!--/VIDEO POPUPs-->

<!--HEADER SEARCH-->
<script src="js/classie.js"></script>
<script src="js/uisearch.js"></script>
<script>
	new UISearch( document.getElementById( 'sb-search' ) );
</script>
<!--/HEADER SEARCH-->

<!--Parellax--> 
<script type="text/javascript" src="js/skrollr.min.js"></script>

<script type="text/javascript">
	var s = skrollr.init({
		edgeStrategy: 'set',
		easing: {
			WTF: Math.random,
			inverted: function(p) {
				return 1-p;
			}
		}
	});
	</script>
<!--/Parellax-->

</body>
</html>
